.table{
    margin-top: 80px;
}
.chosen{
    background-color: red;
}
td{
    width: 80px;
    height:80px;
}

.selfhover{
    background-color: #EDEDED;
}
.selected{
    background-color: #5ab2ce;
}
#btnSave{
    margin-left: 5px;
}